<footer>
  <div class="footer container column align-items-center justify-content-center">
    <div class="footer--block text-align-center">
      <div class="" data-aos="fade-up" data-aos-delay="" data-aos-offset="0">
        <a href="{{ site.baseurl }}/">{{ site.title }}</a>
      </div>
      <div class="by" data-aos="fade-up" data-aos-delay="200" data-aos-offset="0">
        <a href="https://htmlsave.com/report.php" target="_blank">Report Abuse</a> <a href="https://htmlsave.com/about.php" target="_blank">About Us</a> <a href="https://nets4.com" target="_blank">Nets4.com</a>
      </div>
    </div>
  </div>
</footer>
